body,
html {
  overflow-x: visible
}

.redoc-wrap {
  overflow: visible;
  font-size: 16px;
  margin-top: 4px;
  display: block
}

.redoc-wrap .menu-content {
  background-color: #fff;
  border-right: 1px solid #E3E9EC;
  padding: 1em 1em 0
}

.redoc-wrap [data-tabs] {
  margin: 0.5em 0 1em
}

.redoc-wrap .react-tabs__tab-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.redoc-wrap .react-tabs__tab-list [role=tab] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  color: #7C909B;
  background-color: #283033;
  margin: 0;
  border: none;
  border-radius: 0;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  padding: 0.375em 1em;
  -webkit-transition: background-color 0.25s, color 0.25s;
  -o-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
  max-width: 6.625em
}

.redoc-wrap .react-tabs__tab-list [role=tab]:hover {
  background-color: #47545A
}

.redoc-wrap .react-tabs__tab-list [role=tab].react-tabs__tab--selected {
  background-color: #F3F6F7;
  color: #231F20
}

.redoc-wrap .react-tabs__tab-list [role=tab].react-tabs__tab--selected:hover {
  background-color: #F3F6F7;
  color: #231F20
}

.redoc-wrap .react-tabs__tab-list [role=tab].tab-error {
  color: #ED6A56
}

.redoc-wrap .react-tabs__tab-list [role=tab].tab-success {
  color: #00A54B
}

.redoc-wrap .react-tabs__tab-list .react-tabs__tab-list {
  display: none
}

.redoc-wrap .code-style::-moz-selection,
.redoc-wrap .code-style ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .code-style::selection,
.redoc-wrap .code-style ::selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .code-style::-moz-selection,
.redoc-wrap .code-style ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .code-style::-webkit-scrollbar-track {
  background-color: #1A1F21;
  border-radius: 4px
}

.redoc-wrap .code-style::-webkit-scrollbar {
  height: 8px;
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .code-style::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel {
  position: relative;
  text-shadow: none
}

.redoc-wrap .react-tabs__tab-panel::-webkit-scrollbar-track {
  background-color: #1A1F21;
  border-radius: 4px
}

.redoc-wrap .react-tabs__tab-panel::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background-color: #1A1F21
}

.redoc-wrap .react-tabs__tab-panel::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel>div,
.redoc-wrap .react-tabs__tab-panel>pre {
  padding: 0
}

.redoc-wrap .react-tabs__tab-panel>div::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>div ::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div::selection,
.redoc-wrap .react-tabs__tab-panel>div ::selection,
.redoc-wrap .react-tabs__tab-panel>pre::selection,
.redoc-wrap .react-tabs__tab-panel>pre ::selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>div ::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div::-webkit-scrollbar-track,
.redoc-wrap .react-tabs__tab-panel>pre::-webkit-scrollbar-track {
  background-color: #1A1F21;
  border-radius: 4px
}

.redoc-wrap .react-tabs__tab-panel>div::-webkit-scrollbar,
.redoc-wrap .react-tabs__tab-panel>pre::-webkit-scrollbar {
  height: 8px;
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel>div::-webkit-scrollbar-thumb,
.redoc-wrap .react-tabs__tab-panel>pre::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel>div>pre,
.redoc-wrap .react-tabs__tab-panel>pre>pre {
  padding: 1em
}

.redoc-wrap .react-tabs__tab-panel>div>pre::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>div>pre ::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>pre::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>pre ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div>pre::selection,
.redoc-wrap .react-tabs__tab-panel>div>pre ::selection,
.redoc-wrap .react-tabs__tab-panel>pre>pre::selection,
.redoc-wrap .react-tabs__tab-panel>pre>pre ::selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div>pre::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>div>pre ::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>pre::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>pre ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div>pre::-webkit-scrollbar-track,
.redoc-wrap .react-tabs__tab-panel>pre>pre::-webkit-scrollbar-track {
  background-color: #1A1F21;
  border-radius: 4px
}

.redoc-wrap .react-tabs__tab-panel>div>pre::-webkit-scrollbar,
.redoc-wrap .react-tabs__tab-panel>pre>pre::-webkit-scrollbar {
  height: 8px;
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel>div>pre::-webkit-scrollbar-thumb,
.redoc-wrap .react-tabs__tab-panel>pre>pre::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel>div>div[class],
.redoc-wrap .react-tabs__tab-panel>pre>div[class] {
  padding: 0.6875em 0 0.125em;
  margin: 0 1em;
  color: #6B7C85;
  border: none;
  border-bottom: 1px solid #6B7C85;
  line-height: 1.375em;
  opacity: 1
}

.redoc-wrap .react-tabs__tab-panel>div>div[class]>span,
.redoc-wrap .react-tabs__tab-panel>pre>div[class]>span {
  line-height: 1.675em;
  color: #6B7C85;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  padding: 0 0.5em;
  font-size: 1em
}

.redoc-wrap .react-tabs__tab-panel>div>div[class]>span div,
.redoc-wrap .react-tabs__tab-panel>pre>div[class]>span div {
  display: inline-block
}

.redoc-wrap .react-tabs__tab-panel>div>div[class]>span:hover,
.redoc-wrap .react-tabs__tab-panel>pre>div[class]>span:hover {
  background-color: #6B7C85;
  color: #bcbbbb
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:first-child,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:first-child {
  padding: 0.5em 1em;
  opacity: 1
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:first-child>span,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:first-child>span {
  line-height: 1.675em;
  color: #6B7C85;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  padding: 0 0.675em 0.125em
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:first-child>span:hover,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:first-child>span:hover {
  background-color: #6B7C85;
  color: #bcbbbb
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child {
  padding: 0.5em 1em 1em
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child ::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child::selection,
.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child ::selection,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child::selection,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child ::selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child ::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child::-moz-selection,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child::-webkit-scrollbar-track,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child::-webkit-scrollbar-track {
  background-color: #1A1F21;
  border-radius: 4px
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child::-webkit-scrollbar,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child::-webkit-scrollbar {
  height: 8px;
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .react-tabs__tab-panel>div>div:not([class])>div>div:last-child::-webkit-scrollbar-thumb,
.redoc-wrap .react-tabs__tab-panel>pre>div:not([class])>div>div:last-child::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6B7C85
}

.redoc-wrap .token.cdata,
.redoc-wrap .token.comment,
.redoc-wrap .token.doctype,
.redoc-wrap .token.prolog {
  color: #55636a
}

.redoc-wrap .token.punctuation {
  color: #95a2a9;
  opacity: 1
}

.redoc-wrap .namespace {
  opacity: 1
}

.redoc-wrap .token.boolean,
.redoc-wrap .token.constant,
.redoc-wrap .token.deleted,
.redoc-wrap .token.number,
.redoc-wrap .token.property,
.redoc-wrap .token.symbol,
.redoc-wrap .token.tag {
  color: #ED6A56
}

.redoc-wrap .token.attr-name,
.redoc-wrap .token.builtin,
.redoc-wrap .token.char,
.redoc-wrap .token.inserted,
.redoc-wrap .token.selector,
.redoc-wrap .token.string {
  color: #67B870
}

.redoc-wrap .language-css .token.string,
.redoc-wrap .style .token.string,
.redoc-wrap .token.entity,
.redoc-wrap .token.operator,
.redoc-wrap .token.url {
  color: #FBC15E;
  background: none
}

.redoc-wrap .token.atrule,
.redoc-wrap .token.attr-value,
.redoc-wrap .token.keyword {
  color: #F05A22
}

.redoc-wrap .token.class-name,
.redoc-wrap .token.function {
  color: #937AB4
}

.redoc-wrap .token.important,
.redoc-wrap .token.regex,
.redoc-wrap .token.variable {
  color: #2FB8C6
}

.redoc-wrap .token.bold,
.redoc-wrap .token.important {
  font-weight: 700
}

.redoc-wrap .token.italic {
  font-style: italic
}

.redoc-wrap .token.entity {
  cursor: help
}

.redoc-wrap .api-content [data-section-id] h3 {
  font-size: 1.375em;
  font-weight: 700;
  padding: 0.75em 0
}

.redoc-wrap .api-content [data-section-id] h5 {
  font-size: 0.875em;
  letter-spacing: 1px
}

.redoc-wrap .api-content [data-section-id]>div>div:last-child>div>div:first-child {
  padding: 0.675em 2em 0.675em 0.875em;
  border-radius: 0
}
